body {
	height: 100%;
	width: 100%;
}

.title-font {
	font-family:  "Josefin Slab";
	font-weight: 900;
}

.description-font {
	font-family: "Pontano Sans", "Avenir", sans-serif;
	font-weight: 300;
	line-height: 1.5;
}

.notebook-title {
	
}

.notebook-description {
	font-size: .8em;
}

.darker {
	/*background-color: rgb(247, 247, 247);*/
}

.lighter {
	background-color: #FFFFFF;
}

.section {
	margin-top: 17em;
	margin-bottom: 17em;
}

@media(min-height:0px){

	.section.first {
		margin-top: 3em;
	}

}

@media(min-height:500px){

	.section.first {
		margin-top: 10em;
	}

}

