@font-face {
  font-family: Heading;
  src:  url('../fonts/heading.woff2') format('woff2');
}

@font-face {
  font-family: Body;
  src:  url('../fonts/body-300.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Body;
  src:  url('../fonts/body-600.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: Body;
  src:  url('../fonts/body-900.woff2') format('woff2');
  font-weight: 900;
}


body {
  color: rgb(26, 24, 55);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 315px;

  padding-top: 4vh;
  padding-left: 7%;
  padding-right: 7%;
}

.title {
  padding-left: 0.15em;
  font-family: Heading, serif;
  font-size: 2.5em;
  margin-bottom: 0.7em;
}

.description {
  font-size: 1em;
  font-family: Body, sans-serif;
  line-height: 1.9em;
}

p {
  margin-bottom: 1.5em;
}

a, a:visited {
  color: inherit;
  font-weight: 900;
}

.link-out {
  padding-top: 1em;
  font-family: Body;
  font-weight: 900;
  font-size: .75em;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.no-highlight {
  color: inherit;
}


