<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <!-- Google -->
<meta name="description" content="Because sometimes we forget what we really care about." />
<meta name="keywords" content="care, interest, board" />

<meta name="author" content="Jonathan Leung and Max Wolford" />
<meta name="copyright" content="2014" />
<meta name="application-name" content="Care Wall" />

<!-- Facebook -->          
<meta property="og:title" content="Wall Of Care" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://i.imgur.com/jifBpq0.png" />
<meta property="og:url" content="http://care.jonl.org" />
<meta property="og:description" content="Because sometimes we forget what we really care about." />

<!-- Twitter -->          
<meta name="twitter:card" content="" />
<meta name="twitter:title" content="Wall Of Care" />
<meta name="twitter:description" content="Because sometimes we forget what we really care about." />
<meta name="twitter:image" content="http://i.imgur.com/jifBpq0.png" />
