<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Jonathan Leung</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#">Projects</a></li>
      <li><a href="#">Blog</a></li>
    </ul>

  </section>
</nav>


<!-- <nav class="">
	<div class="row">
		<ul>
			<div class="medium-6 columns">
				<li class="logo"><a class="logo" href="#">JONATHAN LEUNG</a></li>
			</div>

			<div class="large-offset-1 medium-1 column link-container">
				<li class="link"><a href="#">Blog</a></li>
			</div>		

			<div class="medium-1 columns end link-container">
				<li class="link"><a href="#">Contact</a></li>
			</div>			
		</ul>
	</div>
</nav>
 -->