
@font-face {
	font-family: "ProximaNovaCond";
	font-weight: 300;
	font-style: normal;
	src: url('fonts/ProximaNovaCond-Light.otf');
}

@font-face {
	font-family: "NovitoNova";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/NovitoNova-Regular.otf');
}

