.intro1 .section {
	padding-top: 20vh;
	padding-bottom: 30vh;
}

.intro2 .section {
	padding-top: 20vh;
	padding-bottom: 10vh;
}

.intro h3 {
	font-size: 2.5rem;
}

.intro h2 {
	color: $color-highlight;
}