.notebooks {
	margin-top: 2.5rem;
	padding-top: 5rem;
}

.notebooks .heading {
	margin-left: auto;
	margin-right: auto;

	width: 20rem;
	padding-bottom: 1rem;
	border-bottom: 1px $color-base solid;

	margin-bottom: 2rem;
}

.notebooks .img-container {
	margin: 0 auto;
}

.notebook {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.notebook h2 {
	// margin-top: -1rem;
	line-height: 90%;
}