body, h3 {
	font-family: $font-base;
	color: $color-base;
}

h1, h2{
	font-family: $font-title;
	text-transform: uppercase;
}

h2 {
	color: $color-title;
	font-size: 3.75rem;
}

p {
	font-size: 1.5rem;
}

a, a:visited {
	color: $color-highlight;
}

a:hover, a:active {
	color: darken($color-highlight, 6%);
}

::selection {
  background: $color-highlight;
  color: $white;
}
::-moz-selection {
  background: $color-highlight; /* Gecko Browsers */
  color: $white;
}

ol, ul {
	list-style-type: none;
}



