<html>
<head lang="en">
	{% include head.html %}	
</head>
<body>

	{% include nav.html %}	

	<div class="row">
		<div class="medium-12 columns">
			<div class="intro">
					
				<div class="section v-center">
					<h3>I care about</h3>
					<h2 class="highlight">EMPOWERING KIDS</h2>
				</div>

				<div class="section">
					<h3>My name is Jonathan Leung</h3>
					<h2 class="highlight">I CREATE EXPERIENCES THAT CHANGE LIVES:</h2>
				</div>			


			</div>
		</div>
	</div>




	









<!-- 	<section class="intro intro-a">
		<div class="row">
			<div class="medium-12 columns">
				<h2 class="light line-1 gray">Hi! My name is</h1>
				<h1 class="semi-bold line-2 highlight">Jonathan Leung</h1>
			</div>
		</div>
	</section>

	<section class="intro intro-b">
		<div class="row">
			<div class="medium-12 columns">
				<h2 class="light line-1 gray">I care about</h1>
				<h1 class="semi-bold line-2 highlight">catalyzing changemakers</h1>
			</div>
		</div>
	</section>

	<section class="notebooks">

		<div class="row">
			<div class="notebook">
				<div class="medium-3 columns">
					<img src="http://startacus.net/uploads/image/GA_logo%20(1).jpg" alt="">
				</div>
				<div class="medium-9 columns">
					<h2 class="notebook-title">General Assembly</h2>
					<p class="notebook-description">Taught the immersive 12 week Ruby on Rails bootcamp.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="notebook">
				<div class="medium-3 columns">
					<img src="http://startacus.net/uploads/image/GA_logo%20(1).jpg" alt="">
				</div>
				<div class="medium-9 columns">
					<h2 class="notebook-title">General Assembly</h2>
					<p class="notebook-description">Taught the immersive 12 week Ruby on Rails bootcamp.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="notebook">
				<div class="medium-4 columns text-center">
					<img src="http://startacus.net/uploads/image/GA_logo%20(1).jpg" alt="">
				</div>
				<div class="medium-8 columns">
					<h2 class="notebook-title">General Assembly</h2>
					<p class="notebook-description">Taught the immersive 12 week Ruby on Rails bootcamp.</p>
				</div>
			</div>
		</div>

		
	</section>
 -->
	

</body>
<script id="template-name" type="text/x-handlebars-template">
</script>
{% include scripts.html %}
</html>