<html>
<head lang="en">
	{% include head.html %}	
</head>
<body>

	{% include nav.html %}

	<div class="intro text-center">

		<div class="intro1">
			<div class="row">
				<div class="medium-12 columns">
					<div class="section v-center">
						<h3>I care about</h3>
						<h2 id="care" class="highlight"></h2>
					</div>
				</div>		
			</div>			
		</div>

		<div class="intro2 alt-background">
			<div class="row">
				<div class="medium-12 columns">
					<div class="intro">
						<div class="section">
							<h3>My name is Jonathan Leung</h3>
							<h2 class="highlight">I create experiences that change lives:</h2>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">

			<div class="notebooks">

				<div class="heading text-center">
					<h3>Here Are Some Of Them</h3>
				</div>

				<div class="notebook">
					<div class="row">
						<div class="medium-3 columns text-center">
							<img src="images/asc_logo.png" alt="">
						</div>
						<div class="small-offset-1 small-10 medium-offset-0 medium-8 large-offset-0 large-7 columns end">
							<h2>All Star Code</h2>
							<p>Designed and lead a 6-week immersive empowerment, learn-to-code for high school students in NYC.</p>
						</div>
					</div>
				</div>

				<div class="notebook">
					<div class="row">
						<div class="medium-3 columns text-center">
							<img src="images/ga_logo.png" alt="">
						</div>
						<div class="small-offset-1 small-10 medium-offset-0 medium-8 large-offset-0 large-7 columns end">
							<h2>General Assembly</h2>
							<p>Taught the immersive 12 week Ruby on Rails bootcamp.</p>
						</div>
					</div>
				</div>

				<div class="notebook">
					<div class="row">
						<div class="medium-3 columns text-center">
							<img src="images/pennapps_logo.png" alt="">
						</div>
						<div class="small-offset-1 small-10 medium-offset-0 medium-8 large-offset-0 large-7 columns end">
							<h2>PennApps</h2>
							<p>Grew the hackathon to become one of the largest, highest quality hackathons in the world.</p>
						</div>
					</div>	
				</div>

				<div class="notebook">
					<div class="row">
						<div class="medium-3 columns text-center">
							<img src="images/lh_logo.png" alt="">
						</div>
						<div class="small-offset-1 small-10 medium-offset-0 medium-8 large-offset-0 large-7 columns end">
							<h2>Learners House</h2>
							<p>Created a 12-day learning retreat on an island lake house in Maine.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="about post-section alt-background">
		<div class="row">
			<div class="small-offset-1 small-10 medium-offset-2 medium-7 large-offset-3 large-6 columns">
				<h2>
					About Me
				</h1>
				<p>
					I create experiences that change lives. 
					I've worked with organizations like 
					General Assembly, All Star Code, PennApps to do this.
				</p>
				<p>
					In the past, I graduated from Computer Engineering
					the University of Pennsylvania in '13 having
					and have built technology at the tech startups
					Perceptual Networks and Gobbler.
				</p>
				<p>
					Currently my focus is to work with kids, parents, 
					and relevant stakeholders to catalyze a new generation 
					of change-makers with that have a high level of agency 
					and empathy so that they may be ready to tackle the worlds problems.
				</p>
			</div>
		</div>
	</div>

	<div class="contact post-section">
		<div class="row">
			<div class="small-offset-1 small-10 medium-offset-3 medium-6 columns text-center">
				<h2>Want to get in touch?</h2>
				<p>
					<a href="mailto:me@jonl.org">We can go get some yum-yums!</a><br> (or we can be healthy and take a walk)
				</p>
			</div>
		</div>
	</div>


</body>
<script id="template-name" type="text/x-handlebars-template">
</script>
{% include scripts.html %}
</html>